.aboutus h2,
.aboutus h3 {
    color: var(--body-text-color);
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.aboutus p {
    color: var(--body-text-color);
}

.company-info {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    gap: inherit;
    padding: inherit;
}
.instructors-bios {
    gap: 0;
}
.instructors-container {
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
    width: 90vw;
    height: 80vh;
    scroll-snap-type: x mandatory;
    padding: 5rem;
    scrollbar-color: var(--body-text-color) var(--body-background-color);
    outline: none;
    scrollbar-width: thin;
}


.instructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    min-width: 85vw;
    border: 1px solid var(--body-text-color);
    padding: 1rem;
    border-radius: 5px;
    scroll-snap-align: center;
    overflow-y: auto;
}

.instructor img {
    width: 12em;
    aspect-ratio: 3/4;
    object-fit: cover;
}
.instructor h4 {
    color: var(--body-text-color);
    margin-bottom: 5px;
}
