.slider-wrapper {
    position: relative;
    z-index: -1;
}

.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar { 
    display: none;
}

.slider>*{
    flex: 1 0 100%;
    scroll-snap-align: start;
    width: 100dvw;
    max-height: 70dvh;
}

.slider img {
    position: relative;
    z-index: -1;
    width: 100%;
    max-height: inherit;
    object-fit: cover;
}

.Bee-Infinity-Groups-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.scroll-down-icon-btn-container {
    position: absolute;
    bottom: 1.25rem;
    display: flex;
    width: 100%;
}
#scroll-down-icon-btn {
    margin: auto;
    font-size: 5rem;
}

